/*  your css code here. If applicable */

#yellow{
	background-color:yellow;
	border-color:green;
	outline:1px solid green;
	
}

#red{
	background-color:red;
	border-color:black;
	outline:1px solid black;
}

#green{
	background-color:green;
	border-color:yellow;
	outline:1px solid yellow;
}